@model HearthDiseasePrediction.Models.DiabetesDiagnosis

@{
    ViewData["Title"] = "Diabetes Diagnosis Form";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="DiabetesPrediction" asp-action="Submit" method="post" class="form">
    <div class="form-group">
        <label asp-for="Age">Age:</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sex">Gender:</label>
        <select asp-for="Sex" class="form-control">
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select>
        <span asp-validation-for="Sex" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BMI">BMI:</label>
        <input asp-for="BMI" class="form-control" />
        <span asp-validation-for="BMI" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GenHlth">How do you feel about your general health?</label>
        <select asp-for="GenHlth" class="form-control">
            <option value="1">Excellent</option>
            <option value="2">Very Good</option>
            <option value="3">Good</option>
            <option value="4">Fair</option>
            <option value="5">Poor</option>
        </select>
        <span asp-validation-for="GenHlth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Income">Your income:</label>
        <select asp-for="Income" class="form-control">
            <option value="1">Less Than $10,000</option>
            <option value="2">From $10,000 To $15,000</option>
            <option value="3">From $15,001 To $20,000</option>
            <option value="4">From $20,001 To $25,000</option>
            <option value="5">From $30,001 To $35,000</option>
            <option value="6">From $40,001 To $55,000</option>
            <option value="7">From $55,001 To $75,000</option>
            <option value="8">More Than $75,000</option>
        </select>
        <span asp-validation-for="Income" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HighChol">Do you have high cholesterol levels?</label>
        <select asp-for="HighChol" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <span asp-validation-for="HighChol" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CholCheck">Had any cholesterol check in last 5 years?</label>
        <select asp-for="CholCheck" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <span asp-validation-for="CholCheck" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HearthDiseaseorAttack">Heart disease/attack occurrence in past?</label>
        <select asp-for="HearthDiseaseorAttack" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <span asp-validation-for="HearthDiseaseorAttack" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HvyAlcoholConsump">Do you consume alcohol frequently?</label>
        <select asp-for="HvyAlcoholConsump" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <span asp-validation-for="HvyAlcoholConsump" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhsylHlth">Number of days you felt that your physical health is not good (in last 30 days):</label>
        <input asp-for="PhsylHlth" class="form-control" />
        <span asp-validation-for="PhsylHlth" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
