<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <style>
        .card {
            width: 300px;
            margin: 20px;
        }
        .card-img-top {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="~/images/diabetes-hero.jpg" alt="Diabetes Image">
                    <div class="card-body">
                        <h5 class="card-title">Diabetes Form</h5>
                        <p class="card-text">Prediction of Diabetes</p>
                        <a asp-action="DiabetesForm" class="btn btn-primary">Check out</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="~/images/hearth-hero.jpg" alt="Heart Disease Image">
                    <div class="card-body">
                        <h5 class="card-title">Heart Disease Form</h5>
                        <p class="card-text">Prediction of Hearth Disease</p>
                        <a asp-action="HearthDisForm" class="btn btn-primary">Check out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
